button {
    padding: 15px 30px; 
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[name="boton1"] {
    background-color: grey;
    color: #b20000;
    width: 250px;
    height: 55px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    font-weight: bold;
    border-radius: 8px;
    
}

button[name="boton2"] {
    background-color: grey;
    color: #b20000;
    width: 250px;
    height: 55px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    font-weight: bold;
    border-radius: 8px;
    
    
}

button:hover {
    filter: brightness(1.2);
    background-image: url();
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;

}

h1 {
    font-size: 560%; 
    color: #b20000;
    margin-bottom: 20px; 
    border-radius: 8px;
    background-color: rgba(85, 85, 85, 0.885);
    width: 550px;
    text-align: center;
    margin: 0 auto;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    font-weight: bold;
    
}
html{
    background-image: url(indexfoto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}