
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h2 {
            color: #333;
            font-size: 2em;
            margin-bottom: 20px;
        }

        h4 {
            color: #666;
            font-size: 1.2em;
            margin-bottom: 30px;
        }

        .Redirect {
            background-color: #B90000;
            color: #fff;
            padding: 15px 30px;
            font-size: 1.5em;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            margin-bottom: 20px;
            transition: background-color 0.3s ease;
        }

        .Redirect:hover {
            background-color: #2980b9;
        }
  