
body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(130, 108, 108, 0);
    display: flex;
    justify-content: center;
    border-radius: 8px;
        
  
  }
  
  h2 {
    color: #b20000;
    text-align: center;
    background-color: rgba(40, 40, 40, 0.885);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.595);
    border-radius: 4px;
  }
  
  h3 {
    margin-bottom: 3px;
    color: rgba(87, 0, 0, 0.859);
    background-color: rgba(40, 40, 40, 0.885);
    border-radius: 4px;
  }
  h5{
    margin-bottom: 16px;
    color: #181818;
    

  }
  input {
    width: 100%;
    padding: 9px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: #737272;
    background-color: rgba(72, 39, 39, 0.885);
    border-radius: 8px;
    font-weight: bold;

  }
  
  html{
    background-image: url(indexfoto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
div {
    background-color: rgba(85, 85, 85, 0.885);
    margin:75px;
    width: 325px;
    border-style: solid;
    border-color:rgba(87, 0, 0, 0) ;
    border-width: 10px;
    border-color: #00000000;
    border-radius: 8px;
}
a {
    color:rgba(87, 0, 0, 0.859); /* Cambia este valor al color que desees cuando pasas el mouse por encima del enlace */
}
